* {
  box-sizing: border-box;
}
body {
  background-color: #fdfcfe;
  font-family: "muli", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.container {
  background-color: white;
  border: 3px white solid;
  border-radius: 10px;
  padding: 30px;
  max-width: 1000px;
  text-align: center;
  box-shadow: 0px 2px 10px -3px;
}
.code-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px 0;
}
.code {
  border-radius: 5px;
  font-size: 75px;
  height: 120px;
  width: 100px;
  border: 1px solid #eee;
  margin: 1%;
  text-align: center;
  font-weight: 300;
}
.code::-webkit-outer-spin-button,
.code::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.code:valid {
  border-color: #3498db;
  box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.25);
}
.info {
  background-color: #eaeaea;
  display: inline-block;
  line-height: 20px;
  padding: 10px;
  max-width: 400px;
  color: #777;
  border-radius: 5px;
}
.verify-botton {
  height: 51px;
}

button {
  padding: 1px 82px 3px;
  margin-left: 10px;
  margin-right: 10px;
}
button:first-child {
  background: white;
  color: black;
  border: 1px solid #e6dada;
  box-shadow: 0px 0px 2px;
  border-radius: 5px;
}

button:last-child {
  background: black;
  color: white;
  border: 1px solid black;
  box-shadow: 0px 0px 2px;
  border-radius: 5px;
}
